

<ion-view view-title="" align-title="left">
  <ion-content >

    
<div class="row">
  <div class="col col-10"></div>
  <div class="col col-80 logo-topm-r">
      <div class="logotext">
        <h2>Welcome To<br/>sinhala lyrics</h2><br/> 
        <p>Search lyrics by name</p> 
     </div>

     <div class="examfeet-formstyle">  
       <input type="text" placeholder="search lyrics by name or artist">
       <button class="button button-full" ng-click="searchLyrics()" type="button">Search lyrics</button>


        </div >


  </div>
  <div class="col col-10"></div>
</div><!--row-->


  </ion-content>
</ion-view>
