<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabcenter, 'has-header-fab-right': hasHeaderFabRight}" align-title="center">
             <ion-nav-back-button >
            </ion-nav-back-button>
             <ion-nav-buttons side="right">
                <button class="button button-icon button-clear menui" menu-toggle="right">
                    <img src="img/menu-icon.png" class="menuicon" />
                </button>
            </ion-nav-buttons> 
        </ion-nav-bar>
      
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="dark-bg expanded text-center">
         
            <span class="ptext">
              
                <img src="img/profilepic.png" class="img-responsive"/>
            <!--<h2>Dr Rohitha</h2> 
            <p>Profile description should be here.</p>-->

            </span>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.home" class="menuitem"><img src="img/my-exam-list.png" class="imgicon">Home</ion-item>
                <ion-item nav-clear menu-close ui-sref="app.history" class="menuitem"><img src="img/my-exam-list.png" class="imgicon">My Exam List</ion-item>
                 <ion-item nav-clear menu-close ui-sref="app.examSearch" class="menuitem"><img src="img/my-exam-list.png" class="imgicon">My Exam Search</ion-item>
                <ion-item nav-clear menu-close ui-sref="app.privateExam" class="menuitem"><img src="img/private-exams.png" class="imgicon">My Private Exams</ion-item>
                <!--<ion-item nav-clear menu-close ui-sref="app.login"><img src="img/analytics.png" class="imgicon">Analytics</ion-item>
                <ion-item nav-clear menu-close ui-sref="app.login"><img src="img/settings.png" class="imgicon">Settings</ion-item>-->
                <ion-item nav-clear menu-close ui-sref="app.aboutUs" class="menuitem"><img src="img/about.png" class="imgicon">About The App</ion-item>
                <!--ion-item nav-clear menu-close ui-sref="app.privateExam"><img src="img/about.png" class="imgicon">Private exam</ion-item-->
                <ion-item nav-clear menu-close ui-sref="auth.loginselction" ng-click="signOut()" class="menuitem"><img src="img/log-out.png" class="imgicon">Logout</ion-item>
              
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
